body {
  background-image: linear-gradient(to right, rgba(249, 186, 186, 0), rgb(241, 236, 236));
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
}

li a {text-decoration : none; color : #2d2f31;}

.header{
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #eeeeee;
  width: 500px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -30%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 3px solid crimson;
}

nav {
  width : 500px; 
  background: #f1f1f1;
  margin: auto;
  padding-top: 170px;
}

span {
  padding : 30px;
  background :  rgba(255,0,0,1);; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  border-radius: 20px;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

span:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

span::after {
  float: right;
  right: 10%;
  top: 50%;
  content: "+";
}

span.danger::after {
  float: right;
  right: 10%;
  top: 50%;
  font-size: 25px;
  content: "\26A0";
}

lh{
  font-size: large;
  text-align: left;
}

.slide {
  clear:both;
  height:0px;
  overflow: hidden;
  text-align: left;
  transition: height .4s ease;
}

.slide li {padding : 10px;}

input {
  position: absolute;
  opacity: 0; 
  height: 0px;
}    

input:checked + .slide {height: 330px} 