<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthForHacks</title>
    <link rel="stylesheet" href="Styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to HealthForHacks</h1>
        <p>Preventing health problems made easy!</p>
        
    </div>
    <form>
        <input type="text" id="lastVisitDiabetes" placeholder="Last Visit for Diabetes">
        <input type="text" id="lastVisitCancer" placeholder="Last Visit for Cancer">
        <input type="text" id="lastVisitBloodPressure" placeholder="Last Visit for BloodPressure">
        <button type="submit">Submit</button>
    </form>
</body>
</html>